{% extends 'mainlayout.html' %}
{% block title %}About us{% endblock %}

{% block content %}


<!-- About Section -->
    <section id="doctors" class="doctors section light-background">


      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Medical Info<br></h2>
        <p>Diabetes is a chronic illness or group of metabolic disorders in which a person has a sustained rise in blood glucose levels (BG) because of a lack of, or an inability of, cells to respond to insulin. These days, this illness is causing severe health issues and long-term obstacles. Massive quantities of highly confidential material are present in the healthcare sector, and they must be handled properly. Diabetes Mellitus (DM) is regarded as one of the worst diseases in the world. For such examination of diabetes, clinical specialists require a trustworthy framework of objectives. </p>
      </div><!-- End Section Title -->

      

    </section><!-- /About Section -->

<!-- Featured Services Section -->
    <section id="featured-services" class="featured-services section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon"><i class="fas fa-heartbeat icon"></i></div>
              <h4><a href="" class="stretched-link">Data Science</a></h4>
              <p>Uses data to extract insights, make decisions, and build predictive systems.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon"><i class="fas fa-pills icon"></i></div>
              <h4><a href="" class="stretched-link">Artificial Intelligence (AI)</a></h4>
              <p>AI is the goal → creating human-like intelligence</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon"><i class="fas fa-thermometer icon"></i></div>
              <h4><a href="" class="stretched-link">Machine Learning (ML)</a></h4>
              <p>Teaches machines to learn from data. Instead of being programmed with explicit rules, ML finds patterns in data.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon"><i class="fas fa-dna icon"></i></div>
              <h4><a href="" class="stretched-link">Deep Learning (DL)</a></h4>
              <p>uses neural networks with many layers.A deep neural network analyzing MRI scans to detect tumors.</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Featured Services Section -->

 
    <section id="call-to-action" class="call-to-action section accent-background">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>Info</h3>
              <p>There are many research works on this topic where they have built models and shown results using R language, Python language and data science tools. But all these works are just models, cannot be used as application useful in real time. Also there is no work on reverse diabetes prediction and diet recommendation. In our project work we build an application with model that can predict diabetes at early stages and also predicts the reverse diabetes patients using ML algorithm and finally our system will recommend the suitable dietary plan for the patients. Our proposed work uses some supervised machine learning algorithms like Random Forest or KNN Algorithm or Decision Tree algorithm for prediction. <br/>
              <a class="cta-btn" href="#">Get Access</a>
            </div>
          </div>
        </div>
      </div>

    </section>


    
{% endblock %}